// Bootstrap React Custom

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

// $theme-colors: (
//   'primary': $primary,
//   'secondary': $secondary,
//   'success': $success,
//   'info': $info,
//   'warning': $warning,
//   'danger': $danger,
//   'light': $gray-500,
//   'dark': $dark,
// ) !default;

// color: var(--grey-500);

$gray-100: #f1f1f1 !default;
$gray-200: #66a0da !default;
$gray-300: #602085 !default;
$gray-400: #90d324 !default;
$gray-500: #21a542 !default;
$gray-600: #2a84dd !default;
$gray-700: #7a1640 !default;
$gray-800: #283524 !default;
$gray-900: #0d160c !default;

$blue: #7272aa !default;
$indigo: #48ac2f !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
// $green: #8ac3a8 !default;
$green: #38976b !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$secondary: $gray-600 !default;
$primary: $indigo !default;

$font-family-sans-serif: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace !default;

@import '../node_modules/bootstrap/scss/bootstrap';
// @import '../node_modules/bootstrap/scss/_variables';