/*
=============== 
Custom Styles -------------------------------------------
===============
*/

/* custom scrollbar */

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--grey-300);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: var(--transition);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey-400);
}
