/* modified John Smilga starter file */
/* found at https://github.com/john-smilga/default-starter/blob/main/main.css */

*,
::after,
::before {
  box-sizing: border-box;
  /* border: 1px solid rgba(102, 51, 153, 0.062); */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');
// @import "custom";

html {
  font-size: 100%;
}

:root {
  /* dark shades of primary color*/
  --primary-50: #f7f7fb;
  --primary-100: #d8d8fe;
  --primary-200: #b3b3fd;
  --primary-300: #8484f8;
  --primary-400: #6e6ef7;
  /* primary/main color */
  --primary-500: #4040f2;
  /* lighter shades of primary color */
  --primary-600: #3333d1;
  --primary-700: #2323be;
  --primary-800: #181894;
  --primary-900: #0d0d54;

  --grey-50: #fafafa;
  --grey-100: #f1f1f1;
  --grey-200: #eaecee;
  --grey-300: #d6dade;
  --grey-400: #a8b0b9;
  --grey-500: #717d8a;
  --grey-600: #4f5b67;
  --grey-700: #373f47;
  --grey-800: #242d35;
  --grey-900: #0c1116;

  --black: #000;
  --white: #fff;

  --red-light: #f8d7da;
  --red-dark: #842029;

  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --green-400: #79d969;
  --yellow-400: #ffde4b;
  --red-400: #ff886b;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* fonts  */
  --headingFont: 'Poppins', sans-serif;
  --bodyFont: 'Poppins', sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(white);
  --primaryTextColor: var(--grey-900);
  --secondaryTextColor: var(--grey-200);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  background: var(--white);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  // color: var(--primaryTextColor);
}

p {
  font-family: var(--bodyFont);
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 0;
  // color: var(--secondaryTextColor);
}

li,
ul {
  font-family: var(--bodyFont);
  line-height: 1.5;
  padding-bottom: 1rem;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headingFont);
  margin-bottom: 0 !important;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

// @media screen and (min-width: 800px) {
//   h1 {
//     font-size: 4rem;
//   }
//   h2 {
//     font-size: 2.5rem;
//   }
//   h3 {
//     font-size: 1.5rem;
//   }
//   h4 {
//     font-size: 1rem;
//   }
//   body {
//     font-size: 1rem;
//   }
//   h1,
//   h2,
//   h3,
//   h4 {
//     line-height: 1;
//   }
// }

a {
  text-decoration: none;
}

ul {
  list-style-type: circle;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

.loading {
  margin: 0 auto;
}

/*
=============== 
Custom Styles -------------------------------------------
===============
*/

/* custom scrollbar */

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey-300);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: var(--transition);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-400);
}

/* React Bootstrap Changes */

div .container-fluid {
  /* Removes padding from fluid containers */
  padding: 0;
}

.navbar-nav .nav-link.active {
  --bs-navbar-active-color: var(--white);
}

.form-label {
  margin-bottom: 0;
  color: var(--grey-700);
  font-size: 12px;
}

label {
  margin-bottom: 1rem;
  color: var(--grey-700);
  font-size: 14px;
}

.badge {
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 4px 12px;
  color: var(--grey-500);
  border: 1px solid var(--grey-400);
}

// Truncates overflow text everywhere on inputs
input {
  text-overflow: ellipsis;
}

// BS Card component edits
.fSIGcG {
  .card {
    border-radius: 0;
    box-shadow: var(--shadow-2);
    background: var(--grey-50);
    border: 0;
  }
  .footer {
    border-radius: 0;
    background-color: var(--grey-50) !important;
    border-color: var(--grey-200);
  }

  .header {
    border-radius: 0;
    background-color: var(--grey-50) !important;
    border-color: var(--grey-200);
  }
}

// Should be for only badges
// .bg-secondary {
//   background-color: var(--grey-100) !important;
// }

// .bg-light {
//   background-color: var(--grey-800) !important;
// }
// .badge {
//   color: var(--grey-500);
//   border: 1px solid var(--grey-400);
// }
