quillStyles1.css
/* STYLING FOR PAGES */


/* Define global CSS variables for light theme */
:root {
  --quill-border-color: #e5e7eb; /* Tailwind's border color */
  --quill-border-radius: 0.5rem; /* Tailwind's rounded-lg */
  --quill-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-sm */
  
  --quill-background-color: #FFFFFF; /* bg-base-100 */
  --quill-text-color: #1f2937; /* Tailwind's text-base-content */
  --quill-link-color: #2563eb; /* Tailwind's text-primary */
  --quill-placeholder-color: #9ca3af; /* Tailwind's text-muted */
  
  --quill-toolbar-background: #ffffff; /* bg-base-100 */
  --quill-toolbar-border-color: #e5e7eb; /* Tailwind's border color */
  --quill-toolbar-button-color: #4b5563; /* Tailwind's text-secondary */
  --quill-toolbar-button-hover-color: #2563eb; /* Tailwind's text-primary on hover */
  --quill-toolbar-button-active-color: #1d4ed8; /* Tailwind's text-primary dark */

  --quill-neutral-content: #A4A4AC; 
}

/* Define CSS variables for dark theme */
[data-theme='customDark'] {
  --quill-border-color: #374151; /* Tailwind's border color in dark mode */
  --quill-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Tailwind's shadow-md */
  
  --quill-background-color: #2e363d; /* bg-base-100 in dark mode */
  --quill-text-color: #e5e7eb; /* Tailwind's text-base-content in dark mode */
  --quill-link-color: #3b82f6; /* Tailwind's text-primary in dark mode */
  --quill-placeholder-color: #6b7280; /* Tailwind's text-muted in dark mode */
  
  --quill-toolbar-background:#2e363d; /* bg-base-100 in dark mode */
  --quill-toolbar-border-color: #4a5568; /* Tailwind's border color in dark mode */
  --quill-toolbar-button-color: #e5e7eb; /* Tailwind's text-base-content in dark mode */
  --quill-toolbar-button-hover-color: #60a5fa; /* Tailwind's text-primary on hover in dark mode */
  --quill-toolbar-button-active-color: #2563eb; /* Tailwind's text-primary dark in dark mode */

  --quill-neutral-content: #a6adbb;
}

/* Style the Quill editor */

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--quill-background-color) !important;
  border: 0 !important;
}

/* Getting some of the buttons */
/* .ql-formats > * {
  color: var(--quill-toolbar-button-color) !important;
  stroke: var(--quill-toolbar-button-color) !important;
} */

/* This is items in a list when clicking a dropdown button */
.ql-picker-item::before {
  color: var(--quill-neutral-color) !important;
  /* color: red !important;
  stroke: red !important;
  path: red !important; */
  /* padding: 12px; */
}

.ql-picker-item::before:hover {
  color: purple !important;
  /* color: red !important;
  stroke: red !important;
  path: red !important; */
  /* padding: 12px; */
}


/* This is the editor */
.ql-editor {
  font-size: 16px !important;

}
